{% extends "app/base.html" %}


{% block content %}
<h1 class="display-4">Application List</h1>
<p class="lead font-italic">Any Text can be placed here</p>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Date</td>
            <td>Type</td>
            <td>Status</td>
            <td>Activity Type</td>
            <td>Applicant</td>
            <td>Created By</td>
            <td>
                {% if user.is_authenticated %}
                    <a href="{% url 'application_insert' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                    <a href="{% url 'application_insert' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                {% endif %}

            </td>
        </tr>
    </thead>
    <tbody>
        {% for application in application_list %}
            <tr>
                <td>{{application.app_no}}</td>
                <td>{{application.app_date}}</td>
                <td>{{application.app_type}}</td>
                <td>{{application.app_status}}</td>
                <td>{{application.get_activty_type_display}}</td>
                <td>{{application.applicant_id.fullname}}</td>
                <td>{{application.user_id.username}}</td>
                <td>
                {% if user.is_authenticated %}
                    <a href="{% url 'application_update' application.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'application_delete' application.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}