
{% extends "app/base.html" %}
{% block content %}
    {% for applicant in applicants %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ applicant.user_id.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ applicant.user_id }}</a>
              <small class="text-muted">{{ applicant.cpr_expiry_date|date:"F d, Y" }}</small>
              <a class="mr-2 fa fa-pencil float-right" href="{% url 'applicant-update' applicant.id %}"></a>
            </div>
            <h2><a class="article-title" href="{% url 'applicant-detail' applicant.id %}">{{ applicant.fullname }}</a></h2>
            CPR: {{ applicant.cpr }} <br/>
            Mobile: {{ applicant.contact2 }} <br/>
            Phone: {{ applicant.contact1 }} <br/>
            Email: {{ applicant.email }}
          </div>
        </article>
    {% endfor %}
    {% if user.is_authenticated %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'applicant-create' %}">New Applicant</a>
    {% endif %}
{% endblock content %}