
{% extends "app/base.html" %}
{% block content %}
    {% for application in applications %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ application.user_id.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ application.user_id.username.upper }}</a>
              <small class="text-muted">{{ application.app_date|date:"F d, Y" }}</small>
              {% if user.is_staff%}
                <a class="mr-2 float-right" href="{% url 'application-update' application.id %}">Status:  {{ application.app_status }}</a>
              {% else %}
                <a class="mr-2 float-right" href="#">Status:  {{ application.app_status }}</a>
              {% endif %}
            </div>
            <h2><a class="article-title" href="{% url 'application-detail' application.id %}">{{ application.app_no }}</a></h2>

            <table style="width:100%">
              <tr>
                <td>Applicant Name</td>
                <td>{{ application.org_id.applicant_id.fullname}}</td>
                <td>CPR</td>
                <td>{{ application.org_id.applicant_id.cpr}} </td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td>{{ application.org_id.applicant_id.contact2}}</td>
                <td>Email</td>
                <td>{{ application.org_id.applicant_id.email}} </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              </tr>
              <tr>
                <td>Org Name:</td>
                <td>{{ application.org_id.full_en_name }}</td>
                <td>CR</td>
                <td>{{ application.org_id.cr }} </td>
              </tr>
              <tr>
                <td>App Type</td>
                <td>{{ application.get_app_type_display }}</td>
                <td>Activity Type</td>
                <td>{{ application.get_activty_type_display }}</td>
              </tr>
            </table>
          </div>
        </article>
    {% endfor %}
    {% if user.is_authenticated %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'application-create' %}">New Application</a>
    {% endif %}
{% endblock content %}