{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load user_tags %}
{% block content %}
<h1 class="display-4">Application Form</h1>
<p class="lead font-italic">Any Text can be placed here</p>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-md-6 mb-0">
            {{ form.app_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.app_date|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.app_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.app_current_status|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.app_next_status|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.app_status_index|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.activty_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.email|as_crispy_field }}
        </div>

        {% if form.instance.app_type != 'initial' %}
        <div class="form-group col-md-12">
            <h3>Company Details</h3>
        </div>
        {% endif %}
        <div class="form-group col-md-6 mb-0">
            {{ form.cr|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.cr_reg_date|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.full_en_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.license_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.license_expiry_date|as_crispy_field }}
        </div>

        {% if form.instance.app_type != 'initial' %}
        <div class="form-group col-md-12">
            <h3>Address Details</h3>
        </div>
        {% endif %}
        <div class="form-group col-md-6 mb-0">
            {{ form.flat_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.building_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.road_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.area|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.contact1|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.contact2|as_crispy_field }}
        </div>

        {% if form.instance.app_type != 'initial' %}
        <div class="form-group col-md-12">
            <h3>Female Accommodation Address Details</h3>
        </div>
        {% endif %}
        <div class="form-group col-md-6 mb-0">
            {{ form.fh_flat_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.fh_building_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.fh_road_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.fh_area|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.fh_contact1|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.fh_contact2|as_crispy_field }}
        </div>




        <div class="form-group col-md-6 mb-0">
            {{ form.financial_guarantee|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.financial_guarantee_expiry_date|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0"></div>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
        <div class="form-group col-md-12 mb-0">
            {{ form.staff_comments|as_crispy_field }}
        </div>
            {% endif %}
            {% if request.user|has_group:"managers" %}
        <div class="form-group col-md-12 mb-0">
            {{ form.manager_comments|as_crispy_field }}
        </div>
        <div class="form-group col-md-12 mb-0">
            {{ form.approval|as_crispy_field }}
        </div>
            {% endif %}

            {% if request.user|has_group:"level 1" %}
        <div class="form-group col-md-4 mb-0">
            {{ form.qsreq|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.qnreq|as_crispy_field }}
        </div>

        <div class="form-group col-md-4 mb-0">
            {{ form.dreq|as_crispy_field }}
        </div>
            {% endif %}
            {% if request.user|has_group:"level 2" %}
         <div class="form-group col-md-4 mb-0">
            {{ form.qsrec|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.qnrec|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.drec|as_crispy_field }}
        </div>
            {% endif %}
        {% endif %}
        <div class="form-group col-md-6 mb-0">
            {{ form.applicant_id|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.user_id|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    {% if form.instance.app_type == 'initial' %}
                        {% if form.instance.app_status_index < 7 %}
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> {{form.instance.app_next_status}}</button>
                        {% endif %}
                    {% elif form.instance.app_type == 'final'  %}
                        {% if form.instance.app_status_index < 8 %}
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> {{form.instance.app_next_status}}</button>
                        {% endif %}
                    {% elif form.instance.app_type == 'renew'  %}
                        {% if form.instance.app_status_index < 8 %}
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> {{form.instance.app_next_status}}</button>
                        {% endif %}
                    {% endif %}
                {% else %}

                        {% if form.instance.app_current_status == 'Draft' %}
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> Submit</button>
                        {% endif %}

                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-4">
            <a href="{% url 'application_list' %}" class="btn btn-secondary btn-block btn-lg"> <i class="fas fa-stream"></i> Back to list </a>
        </div>
    </div>
</form>
{% endblock content %}
