{% extends "app/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.user_id }}</a>
        <small class="text-muted">{{ object.cpr_expiry_date|date:"F d, Y" }}</small>
        {% if object.user_id == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'application-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'application-delete' object.id %}">Delete</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1 float-right" href="{% url 'application-list' %}">Cancel</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">Application Name: {{ object.app_no }}</h2>
      <p class="article-content">Org Name: {{ object.org_id.full_en_name }}</p>
      <p class="article-content">CR: {{ object.org_id.cr }}</p>
    </div>
  </article>
{% endblock content %}